<!DOCTYPE html>
<html>

<head>
    <title>Authenticated</title>
</head>

<body>

<script>
    window.opener.postMessage({
        token: '<%= jwtToken %>',
        ok: true,
        id: '<%= id %>',
    }, '<%= clientUrl %>');
    window.close();
</script>
<p><%= jwtToken %></p>
</body>

</html>